<!doctype html>
<html ng-app="egghead">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Angular Egghead Tutorial</title>

      <link rel="stylesheet" href="stylesheets/application.css">

      <script src="libs/jquery/dist/jquery.js"></script>
      <script src="libs/angular/angular.js"></script>
      <script src="libs/foundation/js/foundation.js"></script>
   </head>

   <body>

      <div ng-controller="FirstController">
         <input type="text" ng-model="data.msg">
         <h1>{{ data.msg }}</h1>
      </div>

      <div ng-controller="SecondController">
         <input type="text" ng-model="data.msg">
         <h1>{{ data.reversedMsg(data.msg) }}</h1>
      </div>

      <script> $(document).foundation(); </script>
      <script src="javascript/application.js"></script>

   </body>
</html>
